.point-text {
    font-size: 1.5em;
    color: black
}

.point-data {
    font-size: 0.75em;
    color: gray;
    margin-left: 1em;
}

.point-container {
    display: flex;
    flex-direction: row;
}

.material-symbols-outlined {
  font-variation-settings:
  "FILL" 0,
  "wght" 400,
  "GRAD" 0,
  "opsz" 48
}

.ocultar-campo {
    display: none;
 }

 .entregado {
    display: none;
}
